<a href="https://colab.research.google.com/github/DrAlexSanz/Electricity-prices/blob/main/Time_series_stationality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
from google.colab import drive

In [3]:
drive.mount('/gdrive')

data = pd.read_csv('/gdrive/MyDrive/Electricity_prices/full_data.csv')

MessageError: ignored

## Several plots to check how the price looks like and the power generation too


*   Create a plotting function, give the df, the name of the column and it will generate the plot
*   Explore several plots.

In [ ]:
def plot_column(df, column_name,
                label = None, ylabel = None, title = None, start=0, end = None):
    """
    Plots a column of the weather dataframe. The user can define either the 'df' and the 'column' 
    or the 'series' and additionally, can also define the 'label', the 
    'ylabel', the 'title', the 'start' and the 'end' of the plot.
    """
    sns.set()
    fig, ax = plt.subplots(figsize=(30, 12))
    ax.set_xlabel('Time', fontsize=16)
    if column:
        ax.plot(df[column_name][start:end], label=label)
        ax.set_ylabel(ylabel, fontsize=16)
    if ylabel:
        ax.legend(fontsize=16)
    if title:
        ax.set_title(title, fontsize=24)
    ax.grid(True)
    return ax

                        time  ...  clouds_all_Valencia
0  2014-12-31 23:00:00+00:00  ...                    0
1  2015-01-01 00:00:00+00:00  ...                    0
2  2015-01-01 01:00:00+00:00  ...                    0
3  2015-01-01 02:00:00+00:00  ...                    0
4  2015-01-01 03:00:00+00:00  ...                    0

[5 rows x 58 columns]