<a href="https://colab.research.google.com/github/DrAlexSanz/Electricity-prices/blob/main/Time_series_stationality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive

In [2]:
drive.mount('/gdrive')

weather = pd.read_csv('/gdrive/MyDrive/Electricity_prices/full_data.csv')

Mounted at /gdrive

In [3]:
weather.head()

                        time  ...  clouds_all_Valencia
0  2014-12-31 23:00:00+00:00  ...                    0
1  2015-01-01 00:00:00+00:00  ...                    0
2  2015-01-01 01:00:00+00:00  ...                    0
3  2015-01-01 02:00:00+00:00  ...                    0
4  2015-01-01 03:00:00+00:00  ...                    0

[5 rows x 58 columns]